# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Node / React
node_modules/
dist/
build/

# Environment & secrets
.env
.env.*
*.env
.env.local
.envrc
.env.bak

# Docker
*.pid
*.log
docker-compose.override.yml

# IDE / OS clutter
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage / test
.coverage
htmlcov/

# Ignore zip / backup dumps
*.zip
*.bak
*.tar
*.tgz
*.7z
